@import '../../common/styles/sass/variables';

.checkboxBlock {
  margin-top: 10px;
  display: flex;
  justify-items: flex-start;

  .checkBox {
    cursor: pointer;
  }

  .checkboxLabel {
    line-height: 17px;
    margin-left: 5px;
    font-style: normal;
    font-size: 14px;
    color: $textSecondColor;
    font-family: "Open Sans", sans-serif;
  }
}