@import '../../../common/styles/sass/variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95.7vh;
  background: $bgColor;

  .loginBlock {
    display: flex;
    width: 413px;
    height: 600px;
    padding: 40px 10px;
    border-radius: 8px;
    background-color: $bgSecondColor;
    flex-direction: column;
    align-items: center;

    h1,
    h2 {
      display: flex;
      margin: 0;
      color: $textSecondColor;
      font-size: 26px;
      font-family: $titleFontFamily;
      font-style: normal;
      font-weight: 600;
    }

    h2 {
      margin-top: 32px;
      font-size: 22px;
    }

    .formBlock {
      display: flex;
      width: 90%;
      flex-direction: column;
      align-items: center;

      .inputBlock {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
      }

      .labelText {
        display: flex;
        justify-items: flex-start;
        color: $textColor;
      }

      .linkForgotPassword {
        display: flex;
        color: $textColor;
      }

      .span {
        display: flex;
        color: $textColor;
      }

      .linkSignUp {
        display: flex;
        color: $textColor;
      }
    }
  }

  .error {
    position: fixed;
    left: auto;
    top: 90%;
    padding: 10px 30px;
    color: $textColor;
    border-radius: 0.25em;
    background-color: $errorColor;

    -webkit-box-shadow: 0px 0px 21px 0px rgba(199,199,199,1);
    -moz-box-shadow: 0px 0px 21px 0px rgba(199,199,199,1);
    box-shadow: 0px 0px 21px 0px rgba(199,199,199,1);


    .btnCloseError {
      font-size: 25px;
      font-family: $textFontFamily;
      position: absolute;
      bottom: 15px;
      left: 192px;
      color: $primaryColor;
      cursor: pointer;
    }
  }
}