@import '../../common/styles/sass/variables';

.container {
  display: flex;
  flex-direction: row;
  height: 95.7vh;
  background: $bgColor;

  .sidePanel {
    display: flex;
    min-width: 243px;
    justify-content: center;

    .togglePacks {

      .toggle {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .myPacks {
          display: flex;
          justify-content: center;
          width: 50%;
          background-color: $bgSecondColor;
        }

        .allPacks {
          display: flex;
          justify-content: center;
          width: 50%;
          background-color: #9A91C8;
        }
      }
    }

    .scrollWrap {
      display: flex;
      margin: 30px auto;
      text-align: center;
      position: relative;

      .inputsWrap {
        display: flex;
        width: 80%;
        padding: 20px;
      }
    }
  }

  .packs {
    display: flex;
    flex-direction: column;
    width: 1150px;
    min-height: 700px;
    padding: 24px 54px;
    background: $bgSecondColor;

    .containerForTopBlock {
      h1 {
        margin: 0;
      }

      .containerForSearchAndBtn {
        display: flex;
        flex-direction: row;

        .searchPacks {
          display: flex;
          width: 461px;
        }
      }
    }

    .paginationBlock {
      margin-top: 10px;
      max-width: 100%;
      overflow: auto;
    }
  }
}