@import "../../common/styles/sass/variables";

.header {
  display: flex;
  height: 40px;
  background: $bgSecondColor;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding: 0 20px;

  .nav {
    display: flex;
    width: 800px;
    align-items: center;

    ul {
      display: flex;
      width: 100%;
      justify-content: space-around;
      padding: 0;
      margin: 0;

      li {
        padding: 8px 28px;
        list-style: none;
        font-size: 17px;
        font-family: $titleFontFamily;
        color: $textColor;
        cursor: pointer;
        border-bottom: 1px solid $bgSecondColor;

        &:hover {
          border-bottom: 1px solid $primaryColor;
        }
      }
    }
  }
}