.container {
  //width: 100%;

  .pageSpan {
    background-color: #eeeeee;
    border-radius: 50%;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    &.active {
      font-weight: 700;
      background-color: #929191;
    }
  }
}